.wrapper {
  padding: 1rem;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(8px);
  //   border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.9rem;
  color: rgb(55, 55, 55);
}
