@import "../../styles/mixins.scss";

.wrapper {
  position: fixed;
  bottom: 1.5rem;
  right: 7rem;
  display: flex;
  gap: 3px;
  &:hover {
    button {
      &:before {
        opacity: 1;
      }
    }
  }
  button {
    border-radius: 100vw;
    background: var(--background-color);
    color: var(--text-color);
    font-weight: 700;
    aspect-ratio: 1.75/1;
    position: relative;
    font-size: 0;
    width: 3rem;

    &:active {
      outline: 2px solid white;
    }
    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.25rem;
      padding-bottom: 3px;
      opacity: 0.35;
      font-weight: 500;
    }
    &:first-of-type {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      &:before {
        content: "-";
      }
    }
    &:last-of-type {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      &:before {
        content: "+";
      }
    }
  }
}
