@import "../../styles/mixins.scss";
@import "../../styles/animations.scss";
.toolbar {
  position: fixed;
  top: 6rem;
  left: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  button {
    all: unset;
    @include backdrop;
    @include box-shadow;
    width: 3.5rem;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 0.25rem;
    position: relative;

    span {
      font-size: 0.75rem;
      position: absolute;
      top: 0.25rem;
      right: 0.25rem;
    }
  }
}
