@import "../../styles/mixins.scss";
.wrapper {
  position: fixed;
  bottom: 1.5rem;
  left: 1.5rem;
  display: flex;
  display: none;
  flex-direction: column;
  gap: 0.75rem;
  .option {
    @include backdrop;
    border-radius: 0.25rem;
  }
}
